<!DOCTYPE html>
<html>
  <body>
    <p>
      <a href="/sightings/add" role="button"><h4>Add a New Sighting</h4></a>
    </p>
    <p>
      <a href="/sightings/stats" role="button"><h4>Statistics of all the Sightings</h4></a>
    </p>
    <p></p>
    <p>
      <h4>Unique Squirrel ID of all the Sightings</h4>
    </p>
    <table border="1">
      <thead>
	<tr>
          <th>Date</th>
	  <th>Unique Squirrel ID</th>
	</tr>
      </thead>
      <tbody>
	{% for sq in sqs %}
	<tr>
	  <td style="text-align:center">{{sq.Date}}</td>
	  <td style="text-align:center"><a href="/sightings/{{sq.Unique_Squirrel_ID}}">{{sq.Unique_Squirrel_ID}}</a></td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </body>
</html>
